## Book #{{ .ShortID }}
_{{ .Description }}_
_Status_ :{{ if .Closed }} **Closed** {{ else }} **Open** {{ end }}
Options:
```
{{range $i, $a := .Options}}
    - [{{$i}}] Odds:{{ $a.Odds }} : {{ $a.Description }}
{{ end }}
```
_Owner_: @{{ .Owner.DiscordHandle }}